#banner { width:100%; height:auto; text-align:center; max-width:1440px;margin:16px auto 0; }
.banner_slideBox { width:100%; max-width:1440px; overflow:hidden; position:relative;}
.banner_slideBox .bd{ position:relative; height:100%; z-index:0;   }
.banner_slideBox .bd li{ height:420px; zoom:1; vertical-align:middle; }
.banner_slideBox .bd img{ width:100%; height:420; display:block;  }
.banner_slideBox .bd ul li.li1 { background:url(../images/2015120509262988302.jpg) no-repeat center;}
.banner_slideBox .bd ul li.li2 { background:url(../images/2015120509262988302.jpg) no-repeat center;}
.banner_slideBox .bd ul li.li3 { background:url(../images/2015120509262988302.jpg) no-repeat center;}
.banner_slideBox .ban_prev1,.banner_slideBox .ban_prev2 { position:absolute;  top:50%; margin-top:-30px; display:block; width:44px; height:60px; background:rgba(0,0,0,.3);border-radius:4px;}
.banner_slideBox .ban_prev1 { right:0;}
.banner_slideBox .ban_prev2 { left:0;}
.banner_slideBox .next,.banner_slideBox .prev { display:inline-block; width:100%; height:100%;}
.banner_slideBox .prev{  background:url(../images/2015120417081299314.png) no-repeat center ;  }
.banner_slideBox .next{  background:url(../images/2015120417083559424.png) no-repeat center;  }
.banner_slideBox .prev:hover { background:url(../images/2015120417082299990.png) no-repeat center ;  }
.banner_slideBox .next:hover { background:url(../images/2015120417084576710.png) no-repeat center ;  }


.breadcrumb { height:55px; width:970px; margin:0 auto; line-height:55px; font-size:14px; color:#666; background:url(../images/2016011815204842623.png) no-repeat left center; padding-left:30px; position:relative;}
.l_second { width:1000px; margin:0 auto; overflow:hidden; }
.l_second .l_second_left { width:246px; height:auto; }
.l_second .l_second_right { width:720px; height:auto; }
.l_second .search { width:1000px; }
.lingdao { float: left; margin-top: 20px;}
.lingdao li { float: left; width: 176px; margin: 20px 0;  text-align: center;  }
.lingdao li div a img { width:130px; height:195px;border:1px solid #f2f2f2}
.ld_tt a,.ld_stt a { font-size: 16px; color: #000; line-height: 25px;}

.list_mod2 li { padding-left:25px; padding-right:10px; height:38px; line-height:38px; background:url(../images/2015120411340454583.jpg) no-repeat 8px center; border-bottom:1px dashed #ccc;  }
.list_mod2 li:last-child { border-bottom:0; }
.list_mod2 li:hover {  background:url(../images/2015120411341934750.jpg) no-repeat 8px center;  }
.list_mod2 li span,.list_mod2 li span.fl a { color:#666; font-size:14px; }
.list_mod2 li:hover span,.list_mod2 li:hover span a { color:#045bb8}

.bdtzm {  width: 110%; overflow:hidden; margin-top:24px; }
.bdtzm li img { width: 212px; height: 141px; margin: 3px 0 0 3px;}
.bdtzm li { width: 227px; margin: 0 10px 10px 0; background: url(../images/2015120510152863489.png) no-repeat left top;}
.bdtzm li:nth-child(3n) {  margin: 0 0px 10px 0;}
.bdtzm li span a { display:inline-block; font-size: 16px; font-weight: bold; color: #4b4641; padding-left: 25px; height:60px; line-height: 60px; background: url(../images/2015120510280872440.png) no-repeat 10px center;text-overflow: ellipsis;  white-space: nowrap; width: 86%; overflow:hidden; }

.list_mod3 { width:110%; overflow:hidden; }
.list_mod3 li { width: 202px; margin:20px 16px 0; float:left; }
.list_mod3 li img { width:202px; height:135px; }
.list_mod3 li span { display:inline-block;width:100%; margin-top:10px; min-height:40px; overflow:hidden;}
.list_mod3 li span a { font-size: 14px;  color: #4b4641; line-height: 20px; }
.list_mod3 li:hover span a { color:#045bb8}