 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>电子航道图政务服务平台</title>
<link rel="icon" href="${res}/images/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="${res}/css/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="${res}/css/skin.css" />
<link rel="stylesheet" type="text/css" href="${res}/css/gdww.css" />
<script type="text/javascript" src="${res}/js/jquery-ui.js"></script>
<script type="text/javascript" src="${res}/js/gdww.js"></script>
</head>
<body>
[#include "../include/header.html"/]
   
<div class="content"> 
    <!--内容--> 
    <div class="tl_con column">   


        <div class="xilan"> 
 
			<div class="minute mainxx"> 
			      <h2> ${articleInfo.title}</h2> 
			      <div class="line"> 
			          <span id="source">来源：${channel.name}</span>&nbsp;&nbsp;&nbsp;&nbsp; 
			          <span id="author">作者：${articleInfo.author} </span>&nbsp;&nbsp;&nbsp;&nbsp; 
			          <span id="date">发布时间：${articleInfo.newsdate?string("yyyy-MM-dd")}</span>&nbsp;&nbsp;&nbsp;&nbsp; 
			          <span id="llcs">浏览次数：<span articlecounts="yes">${articleInfo.rn}</span></span>&nbsp;&nbsp;&nbsp;&nbsp; 
			          
			          
			          
	          			[#if articleInfo.tags?size>0]
	          			<span id="llcs">标记:</span>
		          			[#list articleInfo.tags as tag]
<!-- 							<a href="${site}/search.jhtml?tp=tag&wd=${tag.tag.id}&title=${tag.tag.name}" target="_blank"> -->
							<span articlecounts="yes">${tag.tag.name}</span>&nbsp;&nbsp;&nbsp;&nbsp; 
<!-- 							</a> -->
							[/#list]
	    	 			[#else]
	    	 				<span articlecounts="yes">暂无标签</span>&nbsp;&nbsp;&nbsp;&nbsp; 
	    	 			[/#if]
			      </div> 
			      
			  <div class="content_xilan" id="zoom"> 
			      ${articleInfo.content}
			  </div> 
			 
			</div> 
		</div> 
		<script language="JavaScript">
			function doZoom(size){
						document.getElementById('zoom').style.fontSize=size+'px';
				 $("#zoom").find("strong").css("font-size",size+'px');
		
			}
		</script>
 	</div> 
</div>     

   
[#include "../include/footer.html"/]
 
</body>
</html>