@charset "utf-8";
/* CSS Document */

#mask_message, #dialog_message {
    z-index: 2000;
	display: none;
}
#mask_message {
    position: absolute;
    top:0;
    left:0;
    -moz-opacity: 0.3;
    opacity: .30;
    filter: alpha(opacity=30);
    background-color: #000;
    width: 100%;
    height: 100%;
    zoom: 1;
}
#dialog_message {
	width: 300px;
}
#dialog_message .panel-body {
	padding: 25px;
}

#dialog_message .panel-success {
	border-color: #4cae4c;
}
#dialog_message .panel-success .panel-heading {
	color: #ffffff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
#dialog_message .panel-success .panel-body {
	color: #3c763d;
}
#dialog_message .panel-success .panel-footer {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

#dialog_message .panel-warning {
	border-color: #eea236;
}
#dialog_message .panel-warning .panel-heading {
	color: #ffffff;
	background-color: #f0ad4e;
	border-color: #eea236;
}
#dialog_message .panel-warning .panel-body {
	color: #8a6d3b;
}
#dialog_message .panel-warning .panel-footer {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

#dialog_message .panel-danger {
	border-color: #d43f3a;
}
#dialog_message .panel-danger .panel-heading {
	color: #ffffff;
	background-color: #d9534f;
	border-color: #d43f3a;
}
#dialog_message .panel-danger .panel-body {
	color: #a94442;
}
#dialog_message .panel-danger .panel-footer {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
