<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8" content="width=device-width,initial-scale=1.0" name="viewport">
<title>广东省电子航道图政务外网公共服务网站</title>
<link href="${res}/favicon.ico" rel="icon" type="image/x-icon" />
<link href="${res}/styles/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="${res}/styles/structure.css" rel="stylesheet" type="text/css">
<link href="${res}/styles/sidebar.css" rel="stylesheet" type="text/css">
<link href="${res}/styles/icons.css" rel="stylesheet" type="text/css">
<script src="${res}/scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="${res}/scripts/draggabilly.pkgd.min.js" type="text/javascript"></script>
<script src="${res}/scripts/structure.js" type="text/javascript"></script>
<script src="${site}/h.js?channel=${channel.path}&id=index"></script>
</head>
<body>
[#include "../include/header.html"/]

<div id="container">

	<!-- 左边菜单选择-->
	<div id="sidebar" class="gg-sidebar"></div>
     
	<!-- 右边内容显示-->
	<div id="main">
	
[#include "../include/breadcrumb.html"/]
        
        <table class="table table-bordered table-hover table-striped">
        	<col width="40px" />
        	<col />
            <col width="100px" />
        	<tr>
            	<th>&nbsp;</th>
            	<th class="text-justify">公告名称</th>
            	<th class="text-justify">发布时间</th>
            </tr>
[#list listInfo.data as infos]
            <tr>
            	<td class="text-center">${(listInfo.page.current - 1) * listInfo.page.pageSize + infos_index + 1}</td>
            	<td class="text-justify"><a href="${site}/${infos.channel.path}/${infos.id}.jhtml" title="${infos.title}">${infos.title}</a></td>
            	<td class="text-justify">${infos.newsdate?string("yyyy-MM-dd")}</td>
            </tr>
[/#list]
        </table>

[#include "../include/pagination.html"/]
        
    </div>
    
</div>

[#include "../include/footer.html"/]
</body>
</html>