.toolbarDiv {
    position: absolute; 
    left: 10px; 
    top: 90px; 
    user-select: none;
    width: 73px; 
    height: 219px; 
    right: auto; 
    z-index: 1100;
}
 /*放大*/
.toolbarDiv_ZoomIn {
    background-image: url(../images/mapNav2.png);
    background-position: 0px -266px;
    width: 20px;
    height: 20px;
    position: absolute;
    overflow: hidden;
    left: 16px;
    top: 53px;
    user-select: none;
    cursor: pointer;
    z-index: 10;
}
/*缩小*/
.toolbarDiv_ZoomOut {
    background-image: url(../images/mapNav2.png);
    background-position: 0px -291px;
    width: 20px;
    height: 20px;
    position: absolute;
    overflow: hidden;
    left: 16px;
    top: 172px;
    user-select: none;
    cursor: pointer;
    z-index: 10;
}
/*平移*/
.toolbarDiv_Pan {
    background-image: url(../images/mapNav2.png); 
    background-position: 0px 0px; 
    width: 48px; 
    height: 48px; 
    position: absolute; 
    overflow: hidden; 
    left: 2px; 
    top: 0px; 
    user-select: none; 
    cursor: pointer;
}
/*左移*/
.toolbarDiv_PanLeft {
    width: 13px;
    height: 26px;
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 13px;
    user-select: none;
    cursor: pointer;
}
/*上移*/
.toolbarDiv_PanUp {
    width: 26px;
    height: 13px;
    position: absolute;
    overflow: hidden;
    left: 12px;
    top: 0px;
    user-select: none;
    cursor: pointer;
}
/*右移*/
.toolbarDiv_PanRight {
    width: 13px;
    height: 26px;
    position: absolute;
    overflow: hidden;
    left: 34px;
    top: 11px;
    user-select: none;
    cursor: pointer;
}
/*下移*/
.toolbarDiv_PanDown {
    width: 26px;
    height: 13px;
    position: absolute;
    overflow: hidden;
    left: 12px;
    top: 32px;
    user-select: none;
    cursor: pointer;
}
/*slip*/
.toolbarDiv_Slip {
    position: absolute; 
    left: 23px; 
    top: 71px; 
    z-index: 1; 
    background-image: url(../images/mapNav2.png); 
    background-position: -57px -99px;
    background-repeat: no-repeat; 
    width: 6px; 
    height: 100px; 
    user-select: none; 
    cursor: default;
}
/*slip*/
.toolbarDiv_SlipPos {
    background-image: url(../images/mapNav2.png); 
    background-position: -57px -76px; 
    width: 20px; 
    height: 11px; 
    position: absolute; 
    overflow: hidden; 
    left: -7px; 
    top: 44px; 
    user-select: none; 
    cursor: default;
}
/*slip*/
.toolbarDiv_SlipBot {
    position: absolute; 
    left: 23px; 
    top: 112px; 
    background: url(../images/mapNav2.png) -68px bottom  no-repeat scroll padding-box border-box transparent; 
    z-index: 5; 
    cursor: default; 
    width: 6px; 
    height: 84px; 
    user-select: none;
}