<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9">
<title>电子航道图政务服务平台</title>
<link rel="icon" href="${res}/images/favicon.ico" type="image/x-icon"/>
<link type="text/css" rel="stylesheet" href="assets/css/common.css" />
<link type="text/css" rel="stylesheet" href="assets/css/style.css" />
<link href="assets/css/css.css" rel="stylesheet" type="text/css">
<script src="assets/js/jquery.js"></script>
<script src="assets/js/jquery/jquery.validate.js"></script>
<script src="assets/js/common.js"></script>
<script src="${res}/js/forgotten.js"></script>
</head>

<body style="background:url(assets/images/bg_body.jpg) no-repeat scroll center 0 #EAF1F6;">
<div id="wrapper">
<!--<div id="top"></div>-->
<!--------- header ------------------------------------------------------------------------------------------------------------------------------------->    
<div class="headerBox">
  <div class="header w960 clear">
    <div class="header_left">电子航道图政务服务平台</div>
    <div class="header_right">
      <ul>
        <li><img src="assets/images/home.png" /><a href="index.jhtml">返回首页</a></li>
        [#if user ??]
            <li class="login"><a href="${site}/member/index.jspx">${user.username}</a></li>
            <li class="registered"><a href="${site}/logout.do">注销</a></li>
            
        [#else]
            <li class="login"><a href="${site}/login.jhtml">用户登录</a></li>
            <li class="registered"><a href="${site}/register.jhtml">快速注册</a></li>
        [/#if]
      </ul>  
    </div>
  </div>
</div>
<!--------- end header ----------------------------------------------------------------------------------------------------------------------------------->    
<!--------- container ------------------------------------------------------------------------------------------------------------------------------------>    
<div id="log_content">


    <div class="log-reg-box clearfix" >
        <div class="main-1">
            <div class="log-reg-title"><h2>忘记密码</h2></div>
            
            <div id="card-page-one" style="display: none;">
              <table width="100%" cellspacing="0" cellpadding="0" border="0" class="tb-1">
                <tr>
                  <th><span class="requied_symbol">*</span>登录账号：</th>
                  <td><input type="text" class="ip-1 w150" value="" id="username" name="username" autocomplete="off" /></td>
                </tr>
                <tr>
                  <th><span class="requied_symbol">*</span>验证码：</th>
                  <td>
                    <input type="text" class="ip-1 w100" value="" id="verifyCode" name="verifyCode" maxlength="4" />
                    <img id="verifyImage" title="点击刷新验证码" class="verif_code_img" onclick="changeVerify();" style="height:30px;" />
                    <span style="color:#999; font-family: SimSun;">
                      看不清？
                      <span class="change_verif_code_img" onclick="changeVerify();">换一张</span>
                    </span>
                  </td>
                </tr>
                <tr>
                  <th>&nbsp;</th>
                  <td><a href="javascript:Card.PageOne.next();" class="red32" id="card-page-one-next">下一步</a></td>
                </tr>
              </table>
            </div>
            
            <div id="card-page-two" style="display: none;">
              <table width="100%" cellspacing="0" cellpadding="0" border="0" class="tb-1">
                <tr>
                  <th>安全问题：</th>
                  <td><span id="question">&nbsp;</span></td>
                </tr>
                <tr>
                  <th><span class="requied_symbol">*</span>安全问题答案：</th>
                  <td><input type="text" class="ip-1 w220" value="" id="answer" name="answer" autocomplete="off" /></td>
                </tr>
                <tr>
                  <th>&nbsp;</th>
                  <td>
                    <a href="javascript:Card.PageTwo.back();" class="gray32" id="card-page-two-back">返回</a>
                    <a href="javascript:Card.PageTwo.next();" class="red32" id="card-page-two-next">下一步</a>
                  </td>
                </tr>
              </table>
            </div>
            
            <div id="card-page-three" style="display: none;">
              <table width="100%" cellspacing="0" cellpadding="0" border="0" class="tb-1">
                <tr>
                  <th><span class="requied_symbol">*</span>新密码：</th>
                  <td>
                    <input type="password" class="ip-1 w150" id="pwNew" name="pwNew" maxlength="18" autocomplete="off" />
                    <span class="prompt">6-18个字符，请使用字母加数字的组合</span>
                  </td>
                </tr>
                <tr>
                  <th><span class="requied_symbol">*</span>确认密码：</th>
                  <td><input type="password" class="ip-1 w150" id="pwConfirm" name="pwConfirm" maxlength="18" autocomplete="off" /></td>
                </tr>
                <tr>
                  <th>&nbsp;</th>
                  <td>
                    <a href="javascript:Card.PageThree.back();" class="gray32" id="card-page-three-back">返回</a>
                    <a href="javascript:Card.PageThree.save();" class="red32" id="card-page-three-save">重置密码</a>
                  </td>
                </tr>
              </table>
            </div>
                   
        </div>
        <div class="log-reg-right2"><img src="assets/images/shop.jpg" /></div>
    </div>
</div>
<!--------- end container -------------------------------------------------------------------------------------------------------------------------------->    
<!--------- footer --------------------------------------------------------------------------------------------------------------------------------------->    
<div id="footer">
    <p>Copyright © 2016-2017 广东省航道事务中心 </p>
</div>
<!--------- end footer ----------------------------------------------------------------------------------------------------------------------------------->    
</div>
</body>
</html>